.cca-hero-container {
  width: 100%;
  height: 95vh;
  background-image: url('../image/mycca-background.png');
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cca-hero-cta {
  font-weight: 600;
  font-size: clamp(20px, 25vw, 25px);
  color: aliceblue;
}

.cca-body-container {
  background: #3D4148;
  width: 100%;
  color: #fff;
  height: fit-content;
  padding: 1px;
}

.cca-search-text {
  text-align: justify;
  font-size: 24px;
}

.cca-search-container {
  width: 100%;
  max-width: 600px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}

.cca-search-button {
  background: none !important;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #02C38D !important;
  text-align: center;
  color: #fff !important;
}

.cca-search-button:focus {
  outline: none !important;
}

.search-btn {
  background: #02C38D !important;
  color: #fff !important;
}

.search-btn:hover {
  filter: brightness(80%);
}

.cca-step-container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
}

.cca-steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.cca-steps> :nth-child(1) {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #02C38D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cca-points-container {
  margin: 5rem auto;
  width: 100%;
  max-width: 1000px;
  margin-top: 10rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid #02C38D;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.cca-points-header img {
  width: 100px;
  height: 70px;
}

.cca-points-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 2px solid #02C38D;
  padding-bottom: 1rem;
}

.cca-points-header >:nth-child(2){
  font-size: 25px;
  font-weight: 600;
}

.cca-points-user-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.cca-points-point{
  display: flex;
  column-gap: 20px;
  margin-bottom: 2rem;
}

.cca-points-total{
  display: flex;
  column-gap: 20px;
}

.cca-download-btn,.cca-view-btn{

  border: 1px solid #02C38D;
  background: none;
  width: 200px;
  height: 40px;
  border-radius: 6px;
  color: #fff;
}

.cca-download-btn:hover, .cca-view-btn:hover{
  color: #02C38D;
  filter: brightness(95%);
}

.cca-btn-container{
  display: flex;
  column-gap: 50px;
}

.cca-points-detail{
  width: 100%;
  max-width: 750px;
  margin: 2rem auto;
  padding: 1rem;
}

.cca-table-head{
  color: #fff;
  border-bottom: 1px solid #02C38D;
}
 .cca-table{
  border: 1px solid #02C38D !important;
 
  padding: 1rem;
}

.cca-table-body{
  color: #fff;
  border-bottom: 1px solid #02C38D;
}

th,td{
  padding: 1rem !important;
}