body {
    background-color: #3D4148;
  }
  h1 {
    font-weight: 20;
    color: #02C38D;
    text-align: left;

  }
  .alert{
    background-color:#D4EDDA;
    color: black;
    width: 82%;
    height: 90px;
    text-align: center;
  }
  .header {
    display: inline-block;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
  }
.password-form {
    border-top: 10px solid #02C38D;
    border-bottom: 1px solid #ffffff;
    border-left: none;
    border-right: none; 
    border-radius: 10px; 
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #3D4148;
    color: #ffffff;
    width: 600px;
    margin: 0 auto;
    margin: 0 auto;
    max-width: 600px; 

  }
  
  .password-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .password-form input[type="password"]{
    padding: 5px;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
  }
  
  .password-form button[type="submit"] {
    background-color: #02C38D;
    color: #ffffff;
    padding: 15px 35px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 82%;
  }
  

  