.admin-top-nav-container{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position:sticky;
    top: 0;
    background: #fff;
}

.top-nav-logo{
    width: 63px;
    height: 58px;
}

.admin-top-logo-container{
    display: flex;
    align-items: center;
    height: 100%;
}

.admin-top-user-container{
    display: flex;
    align-items: center;
    column-gap: 30px;
    height: 100%;
}
.admin-top-user-name{
    border-right: 3px solid #00000073;
    height: 90%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    filter: brightness(80%);
    font-weight: 600;
}


.admin-top-name{
    font-size: 20px;
    font-weight: 600;
}

.admin-top-name > span{
    font-size: 20px;
    color: #02C38D;
}